* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(54, 47, 41);
}

h1 {
    background-color: antiquewhite;
    text-align: center;
}

.recipe-img {
    width: 400px;
    height: auto;
}

ul,
ol {
    font-size: 12px;
}