body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    box-sizing: border-box;
}

h1,
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(54, 47, 41);
}

h1 {
    background-color: rgb(255, 249, 240);
}

.hero {
    background-color: rgb(255, 249, 240);
    text-align: center;
    padding: 8px;
    width: 800px;
    margin: 0 auto 20px;
}

.recipe-img {
    width: 400px;
    height: auto;
}

.hero-img {
    width: 400px;
    margin: 0 auto 20px;
}


.menu {
    font-size: 20px;
    width: 800px;
    padding: 8px;
    margin: 0 auto;
    text-align: center;
}

.menu-item {
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(255, 249, 240);
}

.description,
.ingredients,
.steps {
    background-color: rgb(255, 249, 240);
    width: 800px;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 5px;
}